$color1: orange;
$color2: brown;
$color3: black;
$color4: orangered;
$color5: lightpink;
$color6: lightsalmon;
$color7: salmon;
$color8: sienna;
$fuente: italic;
$tamañofuente: large;
$pesofuente: bold;