.navbar, .footer {
  padding: 5px;
  background-color: whitesmoke !important;
  background-image: linear-gradient(to right, #333, whitesmoke);
}
.navbar .nav-link, .footer .nav-link, .footer li {
  color: #FFBA6A !important;
  font-weight: bold;
  font-size: large;
}

main {
  margin-top: 20px;
}
main .seccion {
  margin: 30px;
  background-color: whitesmoke !important;
  background-image: linear-gradient(to right, whitesmoke, #333);
}
main p {
  font-size: 16px;
  color: #333;
}
main .banner {
  margin: 20px;
  text-align: center;
  background-color: #FFBA6A;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 0s;
}
@keyframes efecto {
  30% {
    background-color: #FFC0B8;
  }
  60% {
    background-color: #FF8983;
  }
  90% {
    background-color: #C25452;
  }
}
main .borde {
  height: auto;
  border: 1px solid #333;
}
main .jumbotron {
  background-image: url(../images/jumbotron.webp);
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  font-style: italic;
}
main .imagen {
  margin: 10px 40px;
}
main .imagen :hover {
  transform: scaleY(1.1);
}
main .card {
  background-color: #FFBA6A;
}
main .titulo {
  background-color: #FFBA6A;
  text-align: center;
}
main .historia {
  background-color: whitesmoke;
}
main .fotoHistoria {
  margin-bottom: 20px;
}
main .formulario {
  background-color: #FFBA6A;
  width: 500px;
  height: 400px;
  margin: 30px;
  border: 2px solid #333;
}
main .formulario h2 {
  color: #333;
}
main .mapa {
  background-color: whitesmoke;
  width: 500px;
  height: 400px;
  margin: 30px;
  border: 2px solid #333;
}
main .galeria {
  display: grid;
  margin: 20px;
  height: 100vh;
  grid-template-areas: "img1 img2 img3" "img1 img4 img5" "img6 img7 img5";
}
main .galeria .img {
  border: 2px solid black;
  margin: 5px;
  background-size: cover;
}
main .galeria .img1 {
  grid-area: img1;
  background-image: url(../images/img1.webp);
}
main .galeria .img2 {
  grid-area: img2;
  background-image: url(../images/img2.webp);
}
main .galeria .img3 {
  grid-area: img3;
  background-image: url(../images/img3.webp);
}
main .galeria .img4 {
  grid-area: img4;
  background-image: url(../images/img4.jpg);
}
main .galeria .img5 {
  grid-area: img5;
  background-image: url(../images/img5.jpg);
}
main .galeria .img6 {
  grid-area: img6;
  background-image: url(../images/img6.webp);
}
main .galeria .img7 {
  grid-area: img7;
  background-image: url(../images/img7.webp);
}
@media only screen and (max-width: 480px) {
  main .galeria {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7";
  }
  main .img {
    background-size: 100% 100% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  main .galeria {
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 .";
  }
  main .img5 {
    background-size: 100% 100% !important;
  }
}

.footer {
  margin: 0px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  list-style: none;
  padding: 10px 0px;
}

body {
  background-image: url(../images/fondo.jpg);
}

/*# sourceMappingURL=estilos.css.map */
