/*body*/

body{
    background-color: orange;
}

/*header*/
.navbar{
    background-color: brown !important;
    background-image: linear-gradient(to right, orange, brown);
}

.nav-link{
    color: black !important;
    font-weight: bold;
    font-size: large;
}

/*main*/

.jumbotron{
    background-image: url(../images/jumbotron.webp);
    background-size: cover;
    background-position: center;
    font-weight: bolder;
    font-style: italic;
}

.imagen{
    margin: 20px;
}

.imagen :hover{
    transform: scaleY(1.25);
}

/*footer*/
.footer{
    background-color: brown;
    background-image: linear-gradient(to right, orange, brown);
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    font-size: 15px;
    list-style: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}
