/*body*/

body{
    background-color: orange;
}

/*header*/
.navbar{
    background-color: brown !important;
    background-image: linear-gradient(to right, orange, brown);
}

.nav-link{
    color: black !important;
    font-weight: bold;
    font-size: large;
}

/*main*/
main{
    margin-top: 20px;
}

.seccion{
    background-color: orangered;
    background-image: linear-gradient(to left, orange, orangered);

}

aside{
    background-color: lightpink;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 0s;
}

@keyframes efecto{
    30%{
        background-color: lightsalmon;
    }
    60%{
        background-color: salmon;
    }
    90%{
        background-color: sienna;
    }
}

.borde{
    height: 500px;
    border: 1px solid black;
}

/*footer*/
.footer{
    background-color: brown;
    background-image: linear-gradient(to right, orange, brown);
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    font-size: 15px;
    list-style: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}

